[submodule "uefi-boot/ext/edk2/src"]
	path = uefi-boot/ext/edk2/src
	url = https://github.com/ionescu007/edk2
[submodule "uefi-boot/ext/openssl"]
	path = uefi-boot/ext/openssl
	url = https://github.com/openssl/openssl
	branch = OpenSSL_1_1_0-stable
[submodule "usermode/ext/CLI11"]
	path = usermode/ext/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "usermode/ext/zydis"]
	path = usermode/ext/zydis
	url = https://github.com/zyantific/zydis.git
